@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    outline: none;
}



body{
    background-color: rgb(5, 5, 54);
    font-family: 'Metal Mania';
    display: flex;
    align-items: center;
}